::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

::-webkit-scrollbar-thumb {
    background-color: DarkGray;
}

body {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
    margin: 2em auto;
    padding: 4em;

    width: 42em;

    line-height: 1.6;
    border: thin solid DarkGray;
}

h1 {
    margin-top: 0;
}

hr {
    width: 70%;
    margin: 2em auto;
}

pre {
    width: auto;
    margin: auto;
    padding: .5em;
    border: thin solid DarkGray;

    font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
    background-color: whitesmoke;

    font-size: .8em;
    overflow: scroll;
}

pre, code {
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
}

img {
    display: block;
    margin: 0 auto;
    max-height: 20em;

    box-shadow: 0 0 .7em DarkGray;
}

@media screen and (max-device-width: 46em) {
    body {
        font-size: medium;
    }
    article {
        border: none;
        margin: 1em;
        padding: 0;
        width: auto;
    }
}