* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ECF0F1;
}

.searchBar {
    width: 100vw;
    height: 35px;

    background-color: #BDC3C7;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
}

.searchBar input {
    display: block;

    width: 95%;
    height: 80%;

    border: 0;
    border-radius: 100px;

    padding: 0 20px;
}

.bottomNavigation {
    position: fixed;
    left: 0;
    bottom: 0;

    height: 56px;
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bottomNavigation .tab {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bottomNavigation .tab .icon {
    width: 24px;
    height: 24px;

    border-radius: 12px;
    background-color: #E74C3C;
}

.bottomNavigation .tab .label {
    color: #2C3E50;
    font-size: small;
}

.bottomNavigation .tab .selected {
    color: #C0392B;
}
