* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ECF0F1;
}

.searchBar {
    width: 100vw;
    height: 35px;

    background-color: #BDC3C7;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
}

.searchBar input {
    display: block;

    width: 97vw;
    height: 80%;

    border: 0;
    border-radius: 100px;

    padding: 0 20px;
}

.swiper {
    width: 95vw;
    height: 38vw;
    background-color: #BDC3C7;

    margin: 2vw auto;

    border-radius: 3vw;
}

.selectBar {
    position: sticky;
    top: 37px;
    left: 0;

    width: 95vw;
    height: 28px;
    background-color: #E74C3C;

    margin: 2vw auto;
    border-radius: 14px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.selectBar span {
    color: white;
    font-size: small;
}

.card {
    width: 95vw;
    height: 110px;
    background-color: #BDC3C7;

    margin: 2vw auto;
    padding: 2vw;
    border-radius: 3vw;

    display: flex;
    flex-direction: row;
    justify-content: start;

    position: relative;
    z-index: -1;

    overflow: hidden;
}

.card .status {
    position: absolute;
    top: 0;
    right: 0;

    color: white;
    font-size: x-small;
    background-color: #8E44AD;

    padding: 1vw;
}

.card .go {
    position: absolute;
    top: 50%;
    right: 0;

    width: 1vw;
    height: 10vw;
    background: #C0392B;
}

.card .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card .left .avatar {
    width: 65px;
    height: 65px;
    border-radius: 100%;

    background-color: #8E44AD;
}

.card .left .sound {
    width: 65px;
    height: 20px;
    border-radius: 10px;
    background-color: #8E44AD;
}

.card .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-left: 4vw;
}

.card .right .title {
    font-size: large;
}

.card .right .tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}

.card .right .tabs .tab {
    border: 1px dashed #E74C3C;
    padding: 0 5px;
    margin-right: 2vw;
}

.card .right .slogan {
    font-size: small;
}

.card .right .tabs {
    font-size: small;

}

footer {
    color: #8E44AD;
    font-size: small;
    text-align: center;
    margin: 2vw auto;
}

.floatingActionButton {
    position: fixed;
    right: 10px;
    bottom: 66px;

    margin-bottom: env(safe-area-inset-bottom);
}

.floatingActionButton .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floatingActionButton .tab .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;

    background: #E74C3C;
}

.floatingActionButton .tab .label {
    font-size: small;
    background: white;

    margin-top: 5px;
    padding: 0 7px;
    border-radius: 100px;
}

.safeAreaMargin {
    height: 56px;

    box-sizing: content-box;
    padding-bottom: env(safe-area-inset-bottom);
}

.bottomNavigation {
    position: fixed;
    left: 0;
    bottom: 0;

    height: 56px;
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    box-sizing: content-box;
    padding-bottom: env(safe-area-inset-bottom);
}

.bottomNavigation .tab {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bottomNavigation .tab .icon {
    width: 24px;
    height: 24px;

    border-radius: 12px;
    background-color: #E74C3C;
}

.bottomNavigation .tab .label {
    color: #2C3E50;
    font-size: small;
}

.bottomNavigation .tab .selected {
    color: #C0392B;
}
